# Visual Studio Config Folder
.vs
.vscode

#Keep these files though!
!BeatMapSynthesizer/*/*
!BeatMapSynthesizer/dist/latest.txt
!beatmapsynth.spec
!BeatMapSynthesizer/build/scripts/*.exe

BeatMapSynthesizer/dist/*.exe
BeatMapSynthesizer/dist/win-unpacked
BeatMapSynthesizer/build/scripts/beatmapsynth.exe
BeatMapSynthesizer/build/scripts/models
BeatMapSynthesizer/build/scripts/__pycache__
BeatMapSynthesizer/build/beatmapsynth
BeatMapSynthesizer/build/scripts/WPy64-3830
BeatMapSynthesizer/build/scripts/.vscode
BeatMapSynthesizer/node_modules
BeatMapSynthesizer/bin
BeatMapSynthesizer/obj